
@{
    ViewBag.Title = "Igra";
}

<h1 class="text-center">Igra</h1>

<div align="center" class="row">
    <h4>
        Preostali žetoni:
    </h4>
    <h4>
        Igrač 1: <input type="number"  readonly />
        Igrač 2: <input type="number"  readonly />
    </h4>
    <h4>
        Na potezu je:
    </h4>
    <h4>
        <input type="radio" disabled/>  Igrač 1
    </h4>
    <h4>
        <input type="radio" disabled/>  Igrač 2
    </h4>
</div>

