@{
    ViewBag.Title = "Pocetna";
}

<div class="jumbotron">
    <h1>Mlin</h1>
    <p class="lead">Dobrodošli u aplikaciju za učenje i igranje igre mlin!</p>
    <img align="middle" src="../../slike/Logo_mlin.jpg" class="img-rounded" width="200" height="160" />
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>
            Ovo je aplikacija za učenje i igranje igre mlin. Ovdje možete naučiti sva pravila ove zanimljive igre, a 
            zatim okušati svoje vještine u igranju. 
        </h4>
    </div>
    <div class="col-md-6">
        <h2>Učenje</h2>
        <p>Naučite igrati kroz jednostavna pravila i slikovne primjere.</p>
    </div>
    <div class="col-md-6">
        <h2>Nova Igra</h2>
        <p>Zaigrajte mlin!</p>
    </div>
</div>