
@{
    ViewBag.Title = "Učenje";
}

<h1 class="text-center">Učenje</h1>

<body>
    <h2 class="auto-style1">Osnove</h2>
    <p class="auto-style1">
        Mlin je igra za 2 igrača. Na početku igre svaki igrač ima 9 žetona- jedan igrač ima bijele, a drugi crne žetone.
    </p>
    <p class="auto-style1">
        Igrači najprije naizmjenično postavljaju žetone na ploču. Dopuštena polja za igru su sjecišta i dirališta linija na ploči.
    </p>
    <img align="middle" src="../../slike/Ploca_mlin.jpg" class="img-rounded" width="500" height="500" />
    <p></p>
    <h2 class="auto-style1">Cilj i kraj igre</h2>
    <p class="auto-style1">Cilj igre je ukloniti protivničke žetone s ploče. Igra završava kad igraču ostane manje od 3 žetona na ploči ili kad ne može odigrati nijedan legalan potez.</p>
    <p class="auto-style1">
        Igrač uklanja protivnički žeton tako da sastavi &quot;mlin&quot;. mlin čine 3 žetona iste boje koja čine ravnu liniju duž neke linije ploče.
        Igrač može ukloniti bilo koji protivnički žeton koji ne tvori mlin. Ukoliko svi protivnički žetoni čine mlin, igrač može ukloniti bilo koji od žetona. Uklonjeni žetoni ne vraćaju se na ploču, čak ni ako postavljanje žetona nije još dovršeno.
    </p>
    <img align="middle" src="../../slike/Primjeri_mlin.jpg" class="img-rounded" width="500" height="500" />
    <p></p>
    <h2 class="auto-style1">Tijek igre</h2>
    <p class="auto-style1">
        Nakon što igrači stave sve žetone na ploču, slijedi pomicanje žetona po ploči duž linija ploče. Žetoni se mogu pomaknuti samo na susjedno slobodno polje. Uobičajeno je pomicanjem žetona pokušati stvoriti mlin i tako uklanjati protivnikove figure ili jednostavno onemogućiti protivnika da napravi legalan potez.
    </p>
    <p class="auto-style1">
        Iznimno, ukoliko igrač ostane sa samo 3 žetona na ploči (nakon što su mu ostali uklonjeni, a ne tijekom postavljanja!), tada može željeni žeton staviti na bilo koje slobodno polje (susjedno ili nesusjedno).
    </p>
    <img align="middle" src="../../slike/PrIgre_mlin.jpg" class="img-rounded" width="500" height="500" />
    <p></p>
    <p>
        <a href="https://www.youtube.com/watch?v=DA8rNzhkniA">Pogledajte primjer jedne igre</a>
</p>
</body>


